@import "tailwindcss";



html {

  scroll-behavior: smooth;

}

/* Animación para el logo flotante */

@keyframes float {

  0%, 100% { transform: translateY(0px); }

  50% { transform: translateY(-20px); }

}

/* Clase de utilidad para la animación */

.animate-float {

  animation: float 4s ease-in-out infinite;

}